<html>
  <body>
    <div
      style="
        max-width: 600px;
        margin: auto;
        text-align: center;
        border: 3px solid #0a689b;
        background: #f2f2f2;
        padding: 15px 20px;
        border-radius: 8px;
        font-family: Arial, sans-serif;
      "
    >
      <!-- Logo Section -->
      <div class="logo">
        <img src="{{logo_image}}" alt="Kuber cab" width="250" />
      </div>

      <!-- Greeting -->
      <p
        style="
          color: #0a689b;
          font-weight: 700;
          margin: 10px 0;
          font-size: 22px;
        "
      >
        Hello!
      </p>

      <!-- OTP Section -->
      <p
        style="
          color: #333;
          font-weight: 600;
          font-size: 18px;
          margin: 10px 0;
        "
      >
        Your OTP code for verification is:
      </p>
      <p
        style="
          font-size: 26px;
          font-weight: bold;
          color: #0a689b;
          margin: 15px 0;
          padding: 10px;
          background: #ffffff;
          display: inline-block;
          border-radius: 5px;
          border: 2px dashed #0a689b;
        "
      >
        {{otp_code}}
      </p>

      <p
        style="
          color: #666;
          font-size: 16px;
          font-weight: 500;
          margin: 5px 0;
        "
      >
        This OTP is valid for 5 minutes. Do not share it with anyone.
      </p>

      <!-- Support Information -->
      <p
        style="
          font-size: 16px;
          color: #666;
          margin: 15px 0 5px;
        "
      >
        If you did not request this OTP, please ignore this email.
      </p>

      <p
        style="
          font-size: 16px;
          font-weight: 500;
          color: #666;
        "
      >
        For any queries, contact us at:
        <a
          href="mailto:kuber@gmail.co"
          style="
            color: #0a689b;
            text-decoration: underline;
            font-weight: 600;
          "
        >
          kuber@gmail.co
        </a>
      </p>

      <!-- Closing Message -->
      <p
        style="
          font-weight: 500;
          color: #666;
          margin-top: 15px;
          font-size: 16px;
        "
      >
        Thank you,<br />
        Kuber Cab Team.
      </p>
    </div>
  </body>
</html>
